repositoy-app/src/main/mule/repositoy-app.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="b40fb927-7f63-4739-bedc-efd6cd57b49a" >
		<http:listener-connection host="0.0.0.0" port="8082" />
	</http:listener-config>
	<flow name="repositoy-appFlow" doc:id="c49b146c-7cc9-425d-8384-609c2aeb029e" >
		<http:listener doc:name="Listener" doc:id="fab9c113-40c3-4deb-abc8-95f4be0cecdd" config-ref="HTTP_Listener_config" path="/github"/>
		<set-payload value="#['repository is created']" doc:name="Set Payload" doc:id="04274fa4-54a9-47fd-ba17-97717eff7aab" />
	</flow>
</mule>
